
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    <div>
        <h3> Username</h3>
        <input type="text" name="UserName" />
    </div>
        <div>
            <h4> Password</h4>
            <input type="password" name="Password" />
        </div>
        <div>
            <input type='submit' value='LOGIN' onclick='location.href = "@Url.Action("Index", "Home")";' />

        </div>
}
<input type="submit" value="Registeration" onclick='location.href = "@Url.Action("Index", "Registration")";'/>
